<footer class="footer">
    <div class="container-fluid">
        <!-- <div class="container"> -->
        <div class="row" style="margin-top: 20px" >
            <div class="col-sm-2  ">
                <h5>Search for (Buyer Role)</h5>
                <li><a routerLink="/home/buy" style="color: black">Business</a></li>
                <li><a routerLink="/home/lease" style="color: black">Commercial Space</a></li>
                <li><a routerLink="/operate/hire" style="color: black">Professional</a></li>
                <li><a routerLink="/operate/product" style="color: black">Product</a></li>
            </div>
            <div class="col-sm-2 offset-sm-1 ">
                <h5>List a (Seller’s Role)</h5>
                <li><a routerLink="/seller/sell" style="color: black">Sell Business</a></li>
                <li><a routerLink="/home/lease" style="color: black">Commercial Space</a></li>
                <li><a routerLink="/operate/hire" style="color: black">Professional</a></li>
                <li><a routerLink="/operate/product" style="color: black">Product</a></li>
            </div>
            <div class="col-sm-2 offset-sm-1">
                <h5>Purchase and Sale of a Business</h5>
                <li><a routerLink="/lease" style="color: black">Leasing</a> </li>
                <li> Selling Guides</li>
                <li> Employment </li>
                <ul>
                    <li>Hiring Professionals</li>
                    <li>Hiring Employees</li>
                </ul>
            </div>
            <div class="col-sm-2 offset-sm-1   ">
                <li><a href="bizopsai.com" style="color: black">About</a> </li>
                <li>Contact Us</li>
                <li>Careers</li>
                <li>Education</li>
                <li>Media</li>
                <li>Mobile Apps</li>
                <li>Press</li>
                <li>Private Policy</li>
                <li>Terms of use</li>
            </div>
            <!-- </div> -->
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-4">
                <ul style="padding: initial;">
                    <div class="row">
                        <li>
                            <a href="https://www.facebook.com/BizOps-AI-2007255442897756/?ref=page_internal" class="fa fa-facebook"></a>
                        </li>
                        <li>
                            <a href="https://in.linkedin.com/company/bizopsai" class="fa fa-linkedin"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-instagram"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-telegram"></a>
                        </li>
                    </div>
                    <span class="copyright offset-lg-1 offset-sm-1">
                        <a> BizOps AI© 2019 Copyright </a>
                    </span>
                </ul>
            </div>
        </div>
    </div>
</footer>