<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="title text-center" style="font-weight: bold">
        Register Professional
      </h4>
      <h4  *ngIf="isProf" class="title text-center" style="font-weight: bold">
          Register Principle Agent
        </h4>
    </div>
    <div class="row">
      <div class="col-md-10 col-lg-10 offset-lg-1 offset-md-1" >
        <div class="card">
          <div class="card-body">
            <form
              [formGroup]="professionalRegisterData"
              (ngSubmit)="register()"
            >
              <div class="row">
                <div class="col-md-6 col-lg-6 pr-1">
                  <div class="form-group">
                    <label>Username</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="UserName"
                      placeholder="Username"
                      [ngClass]="{
                        'is-invalid': submitted && f.UserName.errors
                      }"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 pl-1">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input
                      type="email"
                      class="form-control"
                      formControlName="Email"
                      placeholder="Email"
                      [ngClass]="{ 'is-invalid': submitted && f.Email.errors }"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-6 pr-1">
                  <div class="form-group">
                    <label>First Name</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="FirstName"
                      placeholder="First Name"
                      [ngClass]="{
                        'is-invalid': submitted && f.FirstName.errors
                      }"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 pl-1">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="LastName"
                      placeholder="Last Name"
                      [ngClass]="{
                        'is-invalid': submitted && f.LastName.errors
                      }"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <div class="form-group">
                    <label>Address</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Address"
                      placeholder="Home Address"
                      [ngClass]="{
                        'is-invalid': submitted && f.Address.errors
                      }"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-lg-4 pr-1">
                  <div class="form-group">
                    <label>State</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="State"
                      placeholder="State"
                      [ngClass]="{ 'is-invalid': submitted && f.State.errors }"
                    />
                  </div>
                </div>
                <div class="col-md-4 col-lg-4 px-1">
                  <div class="form-group">
                    <label>County</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="City"
                      placeholder="County"
                      [ngClass]="{ 'is-invalid': submitted && f.City.errors }"
                    />
                  </div>
                </div>
                <div class="col-md-4 col-lg-4 pl-1">
                  <div class="form-group">
                    <label>Postal Code</label>
                    <input
                      type="number"
                      class="form-control"
                      formControlName="ZipCode"
                      placeholder="ZIP Code"
                      [ngClass]="{
                        'is-invalid': submitted && f.ZipCode.errors
                      }"
                    />
                  </div>
                </div>
              </div>
              <div *ngIf="!isProf" class="row">
                <div class="col-md-5 col-lg-5 ">
                  <div class="row" style="margin: auto;">
                    <div class="form-group">
                      <label>Category</label>
                      <ng-select
                        [items]="baseCategory"
                        style="width:300px;"
                        bindLabel="value"
                        bindValue="value"
                        placeholder="Category"
                        formControlName="Category"
                        [(ngModel)]="prof_Category"
                        (change)="changeCategory($event)"
                      >
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 col-lg-5">
                  <div class="row" style="margin: auto;">
                    <div class="form-group">
                      <label>Sub Category</label>
                      <ng-select
                        [items]="subCategoryList"
                        style="width:300px;"
                        bindLabel="value"
                        bindValue="value"
                        placeholder="Sub Category"
                        formControlName="SubCategory"
                      >
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 col-lg-5">
                  <label style="width: 150px;" for="profileImage"
                    >Upload Image
                  </label>
                  <input
                    type="file"
                    id="profileImage"
                    ng2FileSelect
                    [uploader]="profileImgUploader"
                    #fileInput
                  />              

                  <a href="#" *ngIf="isUpload">                 
                    <img
                      class="avatar border-gray"
                      style="height:200px;width: 200px;"
                      *ngFor="let img of primaryImage"
                      src="{{ 'data:image/jpg;base64,' + img.value }}"
                      alt="..."
                    />
                  </a>
                  <button
                  type="button"
                  class="btn btn-sm btn-danger"
                  (click)="clearPrimaryImage()"
                >
                  clear file
                </button>
                </div>
              <!-- </div>
              <div class="row"> -->
                <div class="col-md-5 col-lg-5">
                  <label style="width: 150px;" for="pdfFile">Document </label>
                  <input
                    ng2FileSelect
                    [uploader]="pdfUploader"
                    [(ngModel)]="pdfPage"
                    type="file"
                    id="pdfFile"
                  />
                  <button
                    type="button"
                    class="btn btn-sm btn-danger"
                    (click)="clearPDF()"
                  >
                    clear file
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <div class="form-group">
                    <label>About Me</label>
                    <textarea
                      rows="4"
                      cols="80"
                      class="form-control"
                      formControlName="About"
                      placeholder="Here can be your description"
                      [ngClass]="{ 'is-invalid': submitted && f.About.errors }"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <!-- <div class="col-md-6 col-lg-6">
                  <div class="row">
                    <div class="form-group text-center">
                      <button
                        type="button"
                        class="btn btn-success btn-fill btn-wd btn-round"
                        style=" margin-left: 100px;"
                        (click)="preview()"
                      >
                        Preview
                      </button>
                    </div>
                  </div>
                </div> -->
                <div class="col-md-6 col-lg-6">
                  <div class="row justify-content-center">
                    <div class="form-group text-center">
                      <button
                        type="submit"
                        class="btn btn-info btn-fill btn-wd btn-round"                       
                      >
                        Register
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
